<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dist/css/common/auth.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1692391_drihrupm7o.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/auth.min.js"></script>
</head>
<body>
    <button id="btn">登录 /注册</button>
    <div class="mask_box">
        <div class="auth_box">
            <div class="top_box">
                <span class="close_btn icon-tubiao iconfont"></span>
            </div>
            <div class="bottom_auth_container">
                <div class="auth-2_div">
                    <div class="signin_div">
                        <div class="top_title">
                            <span class="left_span">请登录</span>
                            <span class="right_span">立即注册></span>
                        </div>
                        <div class="middle_form">
                            <div class="telephone_box">
                                <input class="telephone" type="text" name="telephone" placeholder="请输入手机号码">
                            </div>
                            <div class="password_box">
                                <input class="password" type="text" name="password" placeholder="请输入密码">
                            </div>
                            <div class="remember_box">
                                <label for=""><input class="remember" type="checkbox" name="remember" value="1">记住我</label>
                            </div>
                        </div>
                        <div class="bottom_submit">
                            <input class="submit" type="submit" value="登录">
                        </div>
                    </div>
                    <div class="signup_div">
                        <div class="top_title1">
                            <span class="left_span1">请注册</span>
                            <span class="right_span1">立即登录></span>
                        </div>
                        <div class="middle_form_signup">
                            <div class="telephone_box">
                                <input type="text" class="telephone" name="telephone" placeholder="手机号码">
                            </div>
                            <div class="username_box">
                                <input type="text" class="username" name="username" placeholder="用户名">
                            </div>
                            <div class="code_box">
                                <input type="text" class="code" name="code" placeholder="验证码">
                            </div>
                            <div class="password_box">
                                <input type="password" class="password" name="password" placeholder="密码">
                            </div>
                            <div class="password1_box">
                                <input type="password" class="password1" name="password1" placeholder="确认密码">
                            </div>
                            <div class="message_code_box">
                                <input type="text" class="message_code" name="message_code" placeholder="短信验证码">
                                <input class="send_code" type="button" value="发送验证码">
                            </div>
                        </div>
                        <div class="bottom_submit_signup">
                            <input type="submit" class="submit1" value="立即注册">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>